<!DOCTYPE html>
{% include 'header.html' %}

<html>
<head>
    <title>Register</title>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-offset-4 col-md-5">
            <h2 class="page-header text-success text-center">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
            <a href="{% url 'login' %}">Already have an account? Login</a>

        </div>
    </div>
    
    
</body>
</html>
